# coding: utf-8

"""
    OpenSilex API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.4.8-rdg
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DataverseApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def available_dataset_languages(self, authorization, **kwargs):  # noqa: E501
        """Get the available dataset languages  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.available_dataset_languages(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: dict(str, object)
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.available_dataset_languages_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.available_dataset_languages_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def available_dataset_languages_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """Get the available dataset languages  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.available_dataset_languages_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: dict(str, object)
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'accept_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method available_dataset_languages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if self.api_client.client_side_validation and ('authorization' not in params or
                                                       params['authorization'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authorization` when calling `available_dataset_languages`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'accept_language' in params:
            header_params['Accept-Language'] = params['accept_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataverse/datasetLanguages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='dict(str, object)',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def available_dataset_metadata_languages(self, authorization, **kwargs):  # noqa: E501
        """Get the available dataset metadata languages  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.available_dataset_metadata_languages(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: dict(str, object)
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.available_dataset_metadata_languages_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.available_dataset_metadata_languages_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def available_dataset_metadata_languages_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """Get the available dataset metadata languages  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.available_dataset_metadata_languages_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: dict(str, object)
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'accept_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method available_dataset_metadata_languages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if self.api_client.client_side_validation and ('authorization' not in params or
                                                       params['authorization'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authorization` when calling `available_dataset_metadata_languages`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'accept_language' in params:
            header_params['Accept-Language'] = params['accept_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataverse/datasetMetadataLanguages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='dict(str, object)',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_dataset(self, experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, **kwargs):  # noqa: E501
        """Create experiment as a Dataset  # noqa: E501

        To consult the document created use the Document API  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_dataset(experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str experiment_uri: Experiment URI (required)
        :param str dataset_title: Dataset Title (required)
        :param list[str] dataset_authors: Dataset Authors (required)
        :param list[str] dataset_contacts: Dataset Contacts (required)
        :param str dataset_language: Dataset Language from list of values : [en, fr] (required)
        :param str dataset_metadata_language: Dataset Metadata Language from list of values : [en, fr] (required)
        :param str dataset_rdf_type: URI of the rdf_type of the dataset (required)
        :param str authorization: Authentication token (required)
        :param str production_date: Dataset Production Date
        :param str dataset_uri: Dataset URI
        :param bool dataset_deprecated: Dataset deprecated
        :param str dataverse_base_path: Dataverse API base path
        :param str dataverse_alias: Parent dataverse alias
        :param str external_api_key: Dataverse API key
        :param str accept_language: Request accepted language
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_dataset_with_http_info(experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.create_dataset_with_http_info(experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, **kwargs)  # noqa: E501
            return data

    def create_dataset_with_http_info(self, experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, **kwargs):  # noqa: E501
        """Create experiment as a Dataset  # noqa: E501

        To consult the document created use the Document API  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_dataset_with_http_info(experiment_uri, dataset_title, dataset_authors, dataset_contacts, dataset_language, dataset_metadata_language, dataset_rdf_type, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str experiment_uri: Experiment URI (required)
        :param str dataset_title: Dataset Title (required)
        :param list[str] dataset_authors: Dataset Authors (required)
        :param list[str] dataset_contacts: Dataset Contacts (required)
        :param str dataset_language: Dataset Language from list of values : [en, fr] (required)
        :param str dataset_metadata_language: Dataset Metadata Language from list of values : [en, fr] (required)
        :param str dataset_rdf_type: URI of the rdf_type of the dataset (required)
        :param str authorization: Authentication token (required)
        :param str production_date: Dataset Production Date
        :param str dataset_uri: Dataset URI
        :param bool dataset_deprecated: Dataset deprecated
        :param str dataverse_base_path: Dataverse API base path
        :param str dataverse_alias: Parent dataverse alias
        :param str external_api_key: Dataverse API key
        :param str accept_language: Request accepted language
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_uri', 'dataset_title', 'dataset_authors', 'dataset_contacts', 'dataset_language', 'dataset_metadata_language', 'dataset_rdf_type', 'authorization', 'production_date', 'dataset_uri', 'dataset_deprecated', 'dataverse_base_path', 'dataverse_alias', 'external_api_key', 'accept_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_dataset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_uri' is set
        if self.api_client.client_side_validation and ('experiment_uri' not in params or
                                                       params['experiment_uri'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_uri` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_title' is set
        if self.api_client.client_side_validation and ('dataset_title' not in params or
                                                       params['dataset_title'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_title` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_authors' is set
        if self.api_client.client_side_validation and ('dataset_authors' not in params or
                                                       params['dataset_authors'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_authors` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_contacts' is set
        if self.api_client.client_side_validation and ('dataset_contacts' not in params or
                                                       params['dataset_contacts'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_contacts` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_language' is set
        if self.api_client.client_side_validation and ('dataset_language' not in params or
                                                       params['dataset_language'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_language` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_metadata_language' is set
        if self.api_client.client_side_validation and ('dataset_metadata_language' not in params or
                                                       params['dataset_metadata_language'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_metadata_language` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'dataset_rdf_type' is set
        if self.api_client.client_side_validation and ('dataset_rdf_type' not in params or
                                                       params['dataset_rdf_type'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dataset_rdf_type` when calling `create_dataset`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if self.api_client.client_side_validation and ('authorization' not in params or
                                                       params['authorization'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authorization` when calling `create_dataset`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'experiment_uri' in params:
            query_params.append(('experimentUri', params['experiment_uri']))  # noqa: E501
        if 'dataset_title' in params:
            query_params.append(('datasetTitle', params['dataset_title']))  # noqa: E501
        if 'dataset_authors' in params:
            query_params.append(('datasetAuthors', params['dataset_authors']))  # noqa: E501
            collection_formats['datasetAuthors'] = 'multi'  # noqa: E501
        if 'dataset_contacts' in params:
            query_params.append(('datasetContacts', params['dataset_contacts']))  # noqa: E501
            collection_formats['datasetContacts'] = 'multi'  # noqa: E501
        if 'dataset_language' in params:
            query_params.append(('datasetLanguage', params['dataset_language']))  # noqa: E501
        if 'dataset_metadata_language' in params:
            query_params.append(('datasetMetadataLanguage', params['dataset_metadata_language']))  # noqa: E501
        if 'dataset_rdf_type' in params:
            query_params.append(('datasetRDFType', params['dataset_rdf_type']))  # noqa: E501
        if 'production_date' in params:
            query_params.append(('productionDate', params['production_date']))  # noqa: E501
        if 'dataset_uri' in params:
            query_params.append(('datasetUri', params['dataset_uri']))  # noqa: E501
        if 'dataset_deprecated' in params:
            query_params.append(('datasetDeprecated', params['dataset_deprecated']))  # noqa: E501
        if 'dataverse_base_path' in params:
            query_params.append(('dataverseBasePath', params['dataverse_base_path']))  # noqa: E501
        if 'dataverse_alias' in params:
            query_params.append(('dataverseAlias', params['dataverse_alias']))  # noqa: E501
        if 'external_api_key' in params:
            query_params.append(('externalAPIKey', params['external_api_key']))  # noqa: E501

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'accept_language' in params:
            header_params['Accept-Language'] = params['accept_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataverse', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def recherche_data_gouv_base_path(self, authorization, **kwargs):  # noqa: E501
        """Get the Recherche Data Gouv url from the instance configuration  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.recherche_data_gouv_base_path(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.recherche_data_gouv_base_path_with_http_info(authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.recherche_data_gouv_base_path_with_http_info(authorization, **kwargs)  # noqa: E501
            return data

    def recherche_data_gouv_base_path_with_http_info(self, authorization, **kwargs):  # noqa: E501
        """Get the Recherche Data Gouv url from the instance configuration  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.recherche_data_gouv_base_path_with_http_info(authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Authentication token (required)
        :param str accept_language: Request accepted language
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'accept_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method recherche_data_gouv_base_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if self.api_client.client_side_validation and ('authorization' not in params or
                                                       params['authorization'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authorization` when calling `recherche_data_gouv_base_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501
        if 'accept_language' in params:
            header_params['Accept-Language'] = params['accept_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataverse/RechercheDataGouvBasePath', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
